<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div style = "text-align:center;background-color:rgba(0,0,0,0.05);border-top:1px solid rgba(0,0,0,0.1);" class="container-fluid navbar-fixed-bottom">
        <div style="font-size:.6rem;">
            <span>사업자번호</span> |
            <span>사업주</span> |
            <span>문의전화 : 1234-1234</span>
        </div>
        <div style="margin-top:1rem;">
            <h6 style="font-family: 'Lobster', cursive;">KHBookStore</h6>
        </div>
    </div>
</th:block>
</html>