<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <title>도서검색시스템</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/boardList.do">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<body>

<div class="container">
    <p class="fw-light fs-3  text-center" style="float:none; margin:0 auto; height:50px">공지사항 상세 보기</p>

    <div id="btn group">
        <button onclick="location.href='/boardList.do'" id="list" class="btn btn-success" style="float: right; margin-left:4px;">목록</button>
        <a href="/boardDelete.do?bid=" th:attrappend="href=${board.bid}"><button class="btn btn-success" style="float: right; margin-left:4px;">삭제</button></a>
        <a href="/openBoardModify.do?bid=" th:attrappend="href=${board.bid}"><button class="btn btn-success" style="float: right;">수정</button></a>
    </div>

    <div style="height:50px;"></div>
        <table class="table border border-2">
            <tbody>
            <tr>
                <th scope="row" class="table-secondary">글 번호</th>
                <td th:text="${board.bid}"></td>
                <th scope="row" class="table-secondary">조회수</th>
                <td th:text="${board.hit_Cnt}"></td>
                <th scope="row" class="table-secondary">작성자</th>
                <td th:text="${board.creator_Id}"></td>
                <th scope="row" class="table-secondary">작성일</th>
                <td th:text="${board.created_Datetime}" ></td>
            </tr>
            <tr>
                <th scope="row" class="border table-secondary">&nbsp;&nbsp;제목</th>
                <td id="title" name="title" th:text="${board.title}" colspan="7"></td>
            </tr>
            <tr height="500">
                <td id="contents" name="contents" th:text="${board.contents}"></td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>