<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="/layout/header :: headFragment"></th:block>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
</head>

<body>
<div class="container">
    <div class="table table-striped" style="width:1200px; margin:0 auto;">
        <div class="fw-light fs-3 text-center " style="float:none; margin:0 auto; height:80px">공지사항</div>

        <form action="/boardReply.do" id="frm" name="frm" method="post">
            <button class="btn btn-success" th:type="submit" id="submit" style="float: right;">저장</button>
            <div style="height:50px"></div>
            <table class="table table-striped" style="width:1200px; margin:0 auto;">
                <tr>
                    <td class="text-center h5">제목</td>
                    <td><input type="text" id="title" name="title" class="col-11" placeholder="제목을 입력하세요."></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="contents" name="contents" rows="20" cols="156" placeholder="내용을 입력하세요."
                                  style="resize: none;"></textarea>
                    </td>
                </tr>
            </table>
            <input th:type="hidden" th:name="bid" th:value="${board.bid}">
            <input th:type="hidden" th:name="reply_Level" th:value="${board.reply_Level}">
        </form>
    </div>
</div>
</body>
</html>