<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <title>도서검색시스템</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <colgroup>
        <col width="15%"/>
        <col width="45%"/>
        <col widht="10%"/>
        <col width="10%"/>
        <col width="20%"/>
    </colgroup>
    <div class="table table-striped" style="width:1200px; margin:0 auto;">
        <div class="fw-light fs-3 text-center" style="float:none; margin:0 auto; height:80px;">도서정보 수정</div>
        <form action="/bookModify.do" id="bookModify" name="bookModify" method="post">
            <input type="hidden" id="bid" th:name="bid" th:value="${bookDto.bid}">
            <input type="hidden" id="creator_Id" th:name="creator_Id" th:value="${bookDto.creator_Id}">

            <button type="submit" class="btn btn-success"  id="edit" style="float: right;">수정</button>
            <div style="height:50px"></div>
            <table class="table table-striped" style="width:1200px; margin:0 auto;">
                <tr style="width:200px;">
                    <th scope="row" class="table-secondary" >발간일</th>
                    <td><input type="text" id="publication_Date" th:name="publication_Date" class="col-11" th:value="${bookDto.publication_Date}" /></td>
                    <th scope="row" class="table-secondary">위치</th>
                    <td><input type="text" id="location" th:name="location" class="col-11" th:value="${bookDto.location}" /></td>
                </tr>
                <tr>
                    <th scope="row" class="table-secondary">저자</th>
                    <td><input type="text" id="author" th:name="author" class="col-11" th:value="${bookDto.author}" /></td>
                    <th scope="row" class="table-secondary">도서명</th>
                    <td><input type="text" id="book_Name" th:name="book_Name" class="col-11" th:value="${bookDto.book_Name}" /></td>
                </tr>
                <tr>
                    <th scope="row" class="table-secondary">줄거리</th>
                    <td colspan="3">
                        <textarea id="story" th:name="story" rows="20" cols="145"  th:text="${bookDto.story}" style="resize: none;"></textarea>
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
</script>
</body>
</html>