<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <th:block th:replace="/layout/header :: headFragment"></th:block>
</head>
<style>
    /*
 * start of file css
 */
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.filebox.bs3-primary .col-sm-10>label {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.filebox .col-sm-10>label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	font-weight: 600;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}
.filebox .upload-name {
	display: inline-block;
	width: 350px;
	padding: .5em .75em;
	/* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none;
	/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
/*
 * end of file css
 */

</style>
<body>

<div class="container">
    <colgroup>
        <col width="15%"/>
        <col width="45%"/>
        <col widht="10%"/>
        <col width="10%"/>
        <col width="20%"/>
    </colgroup>
    <div class="table table-striped" style="width:1200px; margin:0 auto;">
        <div class="fw-light fs-3 text-center" style="float:none; margin:0 auto; height:80px;">도서정보 수정</div>
        <form action="/bookModify.do" id="bookModify" name="bookModify" method="post" th:object="${bookDto}" enctype="multipart/form-data">
            <input type="hidden" id="bid" th:name="bid" th:value="${bookDto.bid}">
            <input type="hidden" id="creator_Id" th:name="creator_Id" th:value="${bookDto.creator_Id}">
            <!--/* 파일이 변경된 경우, 해당 파라미터를 이용하여 파일 삭제 및 재등록 처리 */-->
            <input type="hidden" th:field="*{changeYn}" value="N" />

            <button type="submit" class="btn btn-success"  id="edit" style="float: right;">수정</button>
            <div style="height:50px"></div>
            <table class="table table-striped" style="width:1200px; margin:0 auto;">
                <tr style="width:200px;">
                    <th scope="row" class="table-secondary" >발간일</th>
                    <td><input type="text" id="publication_Date" th:name="publication_Date" class="col-11" th:value="${bookDto.publication_Date}" /></td>
                    <th scope="row" class="table-secondary">위치</th>
                    <td><input type="text" id="location" th:name="location" class="col-11" th:value="${bookDto.location}" /></td>
                </tr>
                <tr>
                    <th scope="row" class="table-secondary">저자</th>
                    <td><input type="text" id="author" th:name="author" class="col-11" th:value="${bookDto.author}" /></td>
                    <th scope="row" class="table-secondary">도서명</th>
                    <td><input type="text" id="book_Name" th:name="book_Name" class="col-11" th:value="${bookDto.book_Name}" /></td>
                </tr>
                <tr>
                    <th scope="row" class="table-secondary">줄거리</th>
                    <td colspan="3">
                        <textarea id="story" th:name="story" rows="20" cols="145"  th:text="${bookDto.story}" style="resize: none;"></textarea>
                    </td>
                </tr>
            </table>

            <!--/* 저장된 파일이 없는 파일 영역 */-->
            <div th:if="${#lists.isEmpty( fileList )}" data-name="fileDiv" class="form-group filebox bs3-primary">
                <label for="file_0" class="col-sm-2 control-label">파일1</label>
                <div class="col-sm-10">
                    <input type="text" class="upload-name" value="파일 찾기" readonly />
                    <label for="file_0" class="control-label">찾아보기</label>
                    <input type="file" name="files" id="file_0" class="upload-hidden" onchange="changeFilename(this)" />

                    <button type="button" onclick="removeFile(this)" class="btn btn-outline-secondary btn-sm" id="btn2">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

            <!--/* 저장된 파일이 있는 파일 영역 */-->
            <div th:unless="${#lists.isEmpty(fileList)}" th:each="row, status : ${fileList}" data-name="fileDiv" class="form-group filebox bs3-primary">
                <label th:for="|file_${status.index}|" class="col-sm-2 control-label">[[ |파일${status.count}| ]]</label><!--첨부파일 위 파일1같은 명칭 -->
                <div class="col-sm-10">
                    <input type="hidden" name="fileIdxs" th:value="${row.idx}" />
                    <input type="text" class="upload-name" th:value="${row.original_Name}" readonly />
                    <label th:for="|file_${status.index}|" class="control-label">찾아보기</label>
                    <input type="file" name="files" th:id="|file_${status.index}|" class="upload-hidden" onchange="changeFilename(this)" />

                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="removeFile(this)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/a9369e9ebb.js"></script>
<script type="text/javascript">
    /* 달력설정 */
$(function(){
  $.datepicker.setDefaults({
    showOtherMonths: false, //빈 공간에 현재월의 앞뒤월의 날짜를 표시
    showMonthAfterYear:true, // 월- 년 순서가아닌 년도 - 월 순서
    changeYear: true, //option값 년 선택 가능
    changeMonth: true, //option값  월 선택 가능
    yearSuffix: "년", //달력의 년도 부분 뒤 텍스트
    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 텍스트
    monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 Tooltip
    dayNamesMin: ['일','월','화','수','목','금','토'], //달력의 요일 텍스트
    dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'], //달력의 요일 Tooltip
    minDate: "-5Y", //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
    maxDate: "-1D", //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
  });
})

$(function() {
    $("#publication_Date").datepicker({ dateFormat: "yy-mm-dd" }).val();
});

 /* 첨부파일 삭제(-)시 실행 */
function removeFile(elem) {

    document.getElementById('changeYn').value = 'Y';

	const prevTag = $(elem).prop('tagName');
	if (prevTag === 'BUTTON') {
		const file = $(elem).prevAll('input[type="file"]');
		const filename = $(elem).prevAll('input[type="text"]');
		file.val(''); /*담겨있는 파일을 빈값 처리함*/
		filename.val('파일 찾기'); /*input에 있는 파일명을 파일 찾기로 바꿈 */

		$(elem).prevAll('input[name="fileIdxs"]').remove();  /*첨부파일 -버튼 클릭시 해당 첨부파일의 IDXS값이 넘어가지 않도록 해서 undelete처리 되지 않도록 함*/
		return false;
	}
}


/* 찾아보기로 파일을 찾거나 변경이 있을시 실행 됨*/
function changeFilename(file) {

    document.getElementById('changeYn').value = 'Y';

    /* 찾아보기에서 파일 선택시 선택한 파일이름이 보이도록 수정*/
	file = $(file);
	const filename = file[0].files[0].name;
	const target = file.prevAll('input.upload-name');
	target.val(filename);

    /* 게시물 수정시 새로 추가한 파일 이전의 파일들이 같이 업로드 되지 않도록 idx value 값 삭제*/
	file.prevAll('input[name="fileIdxs"]').remove();
}
/* 달력설정 */
</script>
</body>
</html>