<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <title>도서검색시스템</title>
</head>

<body>

<div class="container">
    <p class="fw-light fs-3  text-center" style="float:none; margin:0 auto; height:50px">검색정보 상세 보기</p>

    <div style="height:50px;"></div>
    <table class="table border border-3" style="width:1200px; margin:0 auto;">
        <tbody>
        <tr>
            <th scope="row" class="table-secondary">글 번호</th>
            <td th:text="${bookDto.bid}"></td>
            <th scope="row" class="table-secondary">저자</th>
            <td th:text="${bookDto.author}"></td>
            <th scope="row" class="table-secondary">발간일</th>
            <td th:text="${bookDto.publication_Date}" ></td>
            <th scope="row" class="table-secondary">위치</th>
            <td th:text="${bookDto.location}" ></td>
            <th scope="row" class="table-secondary">작성자</th>
            <td th:text="${bookDto.creator_Id}" ></td>
        </tr>
        <tr>
            <th scope="row" class="border table-secondary">도서명</th>
            <td id="book_Name" name="book_Name" th:text="${bookDto.book_Name}" colspan="10"></td>
        </tr>
        <tr height="300">
            <th scope="row" class="border table-secondary" colspan="1" style="border-top:10px solid black;">줄거리</th>
            <td id="story" name="story" th:text="${bookDto.story}" colspan="10"></td>
        </tr>
        </tbody>

    </table>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
</script>

</body>
</html>