<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kwang.ho.mapper.board.AttachMapper">

    <sql id="attachColumns">
        idx
        , board_idx
        , original_name
        , save_name
        , sizee
        , delete_yn
        , insert_time
        , delete_time
    </sql>

    <update id="insertAttach" parameterType="java.util.List">
            <foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
                INTO "C##KWANG"."tb_attach"
                VALUES (
                BOARD_FILE_SEQ.nextval
                , kwang_seq.currval
                , #{item.original_Name}
                , #{item.save_Name}
                , #{item.sizee}
                , 'N'
                , sysdate
                , NULL)
            </foreach>
    </update>

    <select id="selectAttachDetail" parameterType="int" resultType="kwang.ho.dto.board.AttachDTO">
        SELECT
        <include refid="attachColumns" />
        FROM
        "C##KWANG"."tb_attach"
        WHERE
        delete_yn = 'N'
        AND
        idx = #{idx}
    </select>

    <update id="deleteAttach" parameterType="int">
        UPDATE "C##KWANG"."tb_attach"
        SET
        delete_yn = 'Y'
        , delete_time = sysdate
        WHERE
        board_idx = #{board_Idx}
    </update>

    <select id="selectAttachList" parameterType="int" resultType="kwang.ho.dto.board.AttachDTO">
        SELECT
        *
        FROM
        "C##KWANG"."tb_attach"
        WHERE
        delete_yn = 'N'
        AND
        board_idx = #{bid}
    </select>

    <select id="selectAttachTotalCount" parameterType="int" resultType="int">
        SELECT
        COUNT(*)
        FROM
        "C##KWANG"."tb_attach"
        WHERE
        delete_yn = 'N'
        AND
        board_idx = #{bid}
    </select>

</mapper>